@font-face {
    font-family: "Microgramma";
    src: url("../fonts/mg.ttf")
         format("truetype");
}

@font-face {
    font-family: "Microgramma Bold";
    src: url("../fonts/mg_b.otf")
         format("opentype");
}


@font-face {
    font-family: "Ostrich Sans Bold";
    src: url("../fonts/ostrich-sans-bold.ttf")
         format("opentype");
}


body {
    margin: 0;
    overflow: hidden;
    font-family: "Ostrich Sans Bold";
}
svg {
    font-size: 16px;
}

div {
    height: 100vh;
}
